body {
    background-image: url('images/background.jpg');
  }

.heading {
    background-color:rgb(150, 192, 197);  
    text-align:center ;
    font-weight: bolder;
    font-size: 50px;
    
}
.navbar-brand{
  color: rgb(36, 39, 43);
  font-weight: bolder;
}
.paybtn{
  background-color: #276729;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container-fluid{
  background-color:rgb(150, 192, 197);
}
.btn-outline-success{
  background-color: #276729;
  color: white;
  text-align: center;
  display: inline-block;
}

div.col-4 :hover {
   transform: scale(1.10);
   transition: all 0.3s;
}
